@media (max-width: 1170px) {
  .over-image {
    top: 100%;
    right: 35%;
  }
  .happy-comment-card {
    top: 150%;
    right: 33%;
  }
  header {
    flex-direction: column;
  }
  header .left-section {
    background: url("../image/back1.jpg") no-repeat;
    background-size: cover;
    width: 100%;
  }
  header .left-section .navebar {
    background-color: white;
  }
  header .left-section .navebar nav {
    width: 75%;
    margin: auto 0px;
  }
  header .left-section .navebar .logo {
    width: 25%;
  }
  header .left-section .left-section-child {
    height: 70%;
  }
  header .left-section .left-section-child .intro-point {
    width: 100%;
  }
  header .right-section {
    width: 100%;
  }
  header .right-section nav {
    width: 50%;
  }
  header .right-section .right-section-child {
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 1%;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    margin-top: 10%;
  }
}
/* On screens that are 600px or less, set the background color to olive */
@media (max-width: 768px) {
  .over-image {
    width: 50%;
    height: 60%;
    top: 100%;
  }
  .happy-comment-card {
    top: 140%;
    right: 33%;
  }
  header {
    flex-direction: column;
  }
  header .left-section {
    width: 100%;
  }
  header .left-section .navebar {
    background-color: white;
  }
  header .left-section .navebar #logo {
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  header .left-section .navebar #logo img {
    width: 50px;
  }
  header .left-section .navebar #logo span {
    margin: auto 2px;
    font-weight: bold;
    font-size: 20px;
  }
  header .left-section .navebar nav {
    width: 75%;
    margin: auto 0px;
  }
  header .left-section .navebar nav ul li a {
    padding: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
  }
  header .left-section .navebar .logo {
    width: 25%;
  }
  header .left-section .left-section-child {
    background-color: rgba(210, 252, 238, 0.664);
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
  }
  header .right-section {
    width: 100%;
    height: 70vh;
  }
  header .right-section nav {
    width: 50%;
    display: none;
  }
  header .right-section .right-section-child {
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 1%;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    margin-top: 10%;
  }
  footer .ft-child-section-1 {
    flex-direction: column;
  }
  footer .ft-child-section-1 .ft-child-section-1-left {
    width: 90%;
    margin: 5%;
  }
  footer .ft-child-section-1 .ft-child-section-1-right {
    width: 90%;
    margin: 20px auto;
    padding: 40px 10px;
    border-radius: 8px;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container {
    flex-direction: row;
    width: 100%;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container h2 {
    width: 48%;
    color: rgb(28, 49, 45);
    text-align: center;
    margin: auto 1%;
    font-size: 20px;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container .email-btn {
    height: 40px;
    width: 60%;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container .email-btn .input-email {
    padding-left: 20px;
    font-size: 16px;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container .email-btn .submit-btn {
    font-size: 16px;
  }
  footer .ft-child-section-3 {
    flex-direction: column;
  }
  footer .ft-child-section-3 h2 {
    width: 100%;
    font-size: 20px;
  }
  footer .ft-child-section-3 .terms-condition {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  #toggleBtn {
    display: block;
  }
  .happy-comment-card {
    top: 135%;
    right: 33%;
  }
  .left-section .left-section-child {
    width: 80%;
    margin: 20px auto;
  }
  .left-section .left-section-child div h1 {
    font-size: 20px;
  }
  .left-section .left-section-child .book-now {
    font-size: 16px;
  }
  .left-section .navebar {
    background-color: white;
  }
  .left-section .navebar #logo {
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  .left-section .navebar #logo img {
    width: 50px;
  }
  .left-section .navebar #logo span {
    margin: auto 2px;
    font-weight: bold;
    font-size: 20px;
  }
  .left-section .navebar #navbar {
    display: none;
    width: 70%;
    margin: auto 0px;
    top: 7%;
    position: absolute;
    right: 0;
    background-color: white;
  }
  .left-section .navebar #navbar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0px;
  }
  .left-section .navebar #navbar ul li {
    display: block;
  }
  .left-section .navebar #navbar ul li a {
    width: 100%;
    padding: 20px;
  }
  .left-section .navebar #navbar ul li a:hover {
    background-color: rgb(215, 255, 246);
    box-shadow: none;
    border: none;
  }
  .left-section .navebar #navbar ul li .active {
    background-color: rgb(215, 255, 246);
    border: 1px solid green;
    box-shadow: none;
  }
  .left-section .navebar .logo {
    width: 25%;
  }
  header .right-section {
    height: 70vh;
  }
  header .right-section .over-image {
    width: 50%;
    height: 50%;
    top: 110%;
    right: 43%;
  }
  header .right-section .circle1 {
    float: right;
  }
  .faq-card {
    width: 90%;
    box-shadow: 0px 0px 5px rgba(167, 165, 165, 0.603);
  }
  .faq-card .faq-image {
    width: 60%;
  }
  .faq-card .faq-question details {
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .faq-card .faq-question details summary {
    font-weight: 600;
    font-size: 12px;
  }
  .faq-card .faq-question details p {
    font-size: 12px;
  }
  .faq-card .faq-question details:hover {
    background-color: white;
  }
  footer .ft-child-section-1 {
    flex-direction: column;
  }
  footer .ft-child-section-1 .ft-child-section-1-left {
    width: 90%;
    margin: 5%;
  }
  footer .ft-child-section-1 .ft-child-section-1-right {
    width: 90%;
    margin: 20px auto;
    padding: 40px 10px;
    border-radius: 8px;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container {
    flex-direction: column;
    width: 100%;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container h2 {
    width: 48%;
    color: rgb(28, 49, 45);
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
    width: 90%;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container .email-btn {
    height: 40px;
    width: 90%;
    margin: 0px auto;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container .email-btn .input-email {
    padding-left: 10px;
    font-size: 16px;
  }
  footer .ft-child-section-1 .ft-child-section-1-right .email-container .email-btn .submit-btn {
    font-size: 16px;
  }
  footer .ft-child-section-3 {
    flex-direction: column;
  }
  footer .ft-child-section-3 h2 {
    width: 100%;
    font-size: 20px;
  }
  footer .ft-child-section-3 .terms-condition {
    width: 100%;
    margin-top: 20px;
  }
}/*# sourceMappingURL=mquery.css.map */